.buscador-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 10px solid #ffb700;
    /* Borde grande */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente para mejor contraste */
    border-radius: 15px;
}

.autocomplete-container {
    flex-grow: 3;
    align-self: self-start;
    width: 480px;
    margin-right: 10px;
    position: relative;
}

.autocomplete-container .form-control {
    height: 60px;
    border-radius: 20px;
}

.buscador-button{
    align-self: self-start;
    color: white;
    border-radius: 10px;
    border: 2px solid #068323;
    background-color: #068323;
    width: 150px;
    height: 60px;
    margin-left: 15px;
}

.buscador-button:hover{
    background-color: #04631a;
    border: 2px solid #04631a;
}

.custom-timepicker{
    max-width: 140px;
}

.date-time-container {
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

.suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    max-width: 480px;
    overflow-y: auto;
    /* margin-left: 150px; */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.suggestion-item.active {
    background-color: #e9ecef;
}

.loading {
    padding: 10px;
}

/* .buscador{
    margin-bottom: 20px;

} */