.buscador-container {
    padding: 15px;
    border: 10px solid #ffb700;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente para mejor contraste */
    border-radius: 15px;
}

.autocomplete-container {
    /* width: 480px; */
    position: relative;
}

.autocomplete-container .form-control {
    height: 60px;
    border-radius: 20px;
}

.buscador-button {
    color: white;
    border-radius: 10px;
    height: 60px;
    border: 2px solid #068323;
    background-color: #068323;
}

.buscador-button:hover {
    background-color: #04631a;
    border: 2px solid #04631a;
}

.custom-timepicker {
    max-width: 140px;
}



@media (min-width: 1356px) {
    .date-time-container {
        display: flex;
        gap: 8px;
    }
}


.suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    max-width: 480px;
    overflow-y: auto;
    /* margin-left: 150px; */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.suggestion-item.active {
    background-color: #e9ecef;
}

.loading {
    padding: 10px;
}

/* .buscador{
    margin-bottom: 20px;

} */