.buzon-mensajes-row {
    border-radius: 25px;
}


.solicitudes-activas-btn{
    background-color: #fff;
    color: rgb(92, 90, 228);
    border-radius: 15px;
    height: 50px;
    border: 3px solid rgb(149, 148, 245);
    font-weight: 700;
    transition: transform 0.3s ease;
}

.solicitudes-activas-btn:hover{
    transform: scale(1.08);
}

.solicitudes-pendientes-btn{
    background-color: #fff;
    color: rgb(122, 122, 122);
    border-radius: 15px;
    height: 50px;
    border: 3px solid #eeeeee;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.solicitudes-pendientes-btn:hover{
    transform: scale(1.08);
}

.solicitudes-rechazadas-btn{
    background-color: #fff;
    color: rgb(228, 90, 90);
    border-radius: 15px;
    height: 50px;
    border: 3px solid #eeeeee;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.solicitudes-rechazadas-btn:hover{
    transform: scale(1.08);
}

.solicitudes-aceptadas-btn{
    background-color: #fff;
    color: #068323;
    border-radius: 15px;
    font-weight: 700;
    height: 50px;
    border: 3px solid #eeeeee;
    transition: transform 0.3s ease;
}

.solicitudes-aceptadas-btn:hover{
    transform: scale(1.08);
    color: #05691c;
}