.rent-car-body {
    background: linear-gradient(to right, #5ab3fc, white);
    width: 100vw;
    height: 90vh;
}

.rent-car-image {
    background-image: url('../imgs/background1.webp');
    background-size: cover;
  }