.vehicles-user-row{
    border-radius: 35px;
}

.edit-vehicle-h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.edit-vehicle-form{
    border-radius: 50px;
}

.edit-vehicle-imgs-row{
    border-radius: 50px;
}