.vehicles-user-delete {
    color: #858585;
    margin-left: 18px;
}

.vehicles-user-delete:hover {
    border: 1px solid #eeeeee;
}


.vehicles-user-edit {
    width: 110px;
    font-weight: 500;
}


.vehicles-user-row {
    border-radius: 35px;
}

.edit-vehicle-h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.edit-vehicle-form {
    border-radius: 50px;
}

.edit-vehicle-imgs-row {
    border-radius: 50px;
}

.edit-vehicle-imgs-delete {
    background-color: #fff;
    color: rgb(228, 90, 90);
    border: 2px solid #eeeeee;
}

.edit-vehicle-imgs-delete:hover {
    background-color: #f8f8f8;
    color: rgb(206, 20, 20);
    border: 2px solid #eeeeee;
}

.edit-vehicle-imgs-add {
    color: #397a9f;
    border: 2px solid #eeeeee;
}

.edit-vehicle-imgs-add:hover {
    background-color: #f8f8f8;
    color: #0e537a;
    border: 2px solid #eeeeee;
}

.edit-vehicle-imgs-card-imgs {
    height: 280px;
}


.edit-vehicle-imgs-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-vehicle-imgs-card-img-top {
    height: 160px;
    object-fit: contain;
}