.home-container {
  padding: 20px;
}

.home-logo {
  text-align: center;
}


/* BUSCADOR UBICACIONES PAGINA PRINCIPAL */
.home-buscador-ubis-container {
  max-width: 600px; 
  margin: auto;
  padding: 20px;
}

.home-buscador-ubis-container .form-control{
  border-radius: 20px;
}

.home-buscador-ubis-container .btn-primary{
  border-radius: 15px;
  margin-left: 15px;
}

.form-inline {
  display: flex;
  width: 100%;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1; 
  position: relative;
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-height: 300px;
  overflow-y: auto; 
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item.active {
  background-color: #e9ecef;
}

.loading {
  padding: 10px;
}








.home-auth-links {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
  margin-top: 20px;
}

.home-rent{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-auth-link {
  text-decoration: none;
  color: white;
  background-color: #054ea1; 
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
}

.home-rent-link{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white; 
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 15px;
  transition: transform 0.5s;

}

.home-rent-link:hover {
  transform: scale(1.1);
}

.home-auth-link:hover {
  background-color: #0057b3ed; 
}

.home-logout-button {
  background-color: #dc3545; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.home-logout-button:hover {
  background-color: #c82333; 
}

