.login-body {
  background: linear-gradient(to right, #5ab3fc, white);
  /* background-image: url('../imgs/background1.webp'); */
  /* background-size: cover; */
  width: 100vw;
  height: 88vh;
}

.login-alert-button{
  margin-right: 20px;
}

.login-image {
  background-image: url('../imgs/login.jpeg');
  background-size: cover;
}