.login-body {
  background: linear-gradient(to right, #5ab3fc, white);
  width: 100vw;
  min-height: 90vh;
}

.login-alert-button{
  margin-right: 20px;
}

.login-image {
  background-image: url('../imgs/login.jpeg');
  background-size: cover;
}