/* .nav-buscador-ubis-container {
    margin: auto;
} */

.navbar {
    padding: 0;
    height: 10vh;
    background-color: white;
    border-bottom: 1px solid rgb(214, 212, 212);
}

.nav-buscador-ubis-container .form-control {
    border: 2px solid #5ab3fc;
    border-radius: 5px;
}

.nav-buscador-ubis-container .btn-primary {
    border-radius: 15px;
    margin-left: 15px;
}

.navbar-brand {
    margin-left: 10px;
}

.nav-rent-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 100px;
    transition: transform 0.5s;
}

.navbar-responsive-link {
    color: white;
    background-color: #00a6dd;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.navbar-responsive-link:hover {
    background-color: #0056b3;
}

.nav-rent-link:hover {
    transform: scale(1.1);
}

.nav-svg {
    margin-right: 40px;
}